# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Virtualenv
.venv/
env/

# IDEs
.vscode/
.idea/

# Database
*.db

# Logs
*.log

# Byte-compiled / optimized
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
Thumbs.db
.DS_Store
